In [10]:
import pandas as pd
df_books = pd.read_csv("Books.csv")

/var/folders/v2/rwg0t7796jsbrq_0j88y5mk40000gn/T/ipykernel_66409/2006978162.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv("Books.csv")

In [11]:
df_books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [12]:
df_ratings = pd.read_csv('Ratings.csv')
df_ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [13]:
df_users = pd.read_csv('Users.csv')
df_users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [14]:
from scipy.sparse import csr_matrix
# Reshape data based on column values, use ISBN to form axes of the resulting df
df_movie_features = df_ratings.head(2000).pivot(
    index='ISBN',
    columns='User-ID',
    values='Book-Rating'
).fillna(0)
df_movie_features

User-ID,276725,276726,276727,276729,276733,276736,276737,276744,276745,276746,...,277434,277435,277436,277439,277444,277453,277457,277461,277462,277466
ISBN,,,,,,,,,,,,,,,,,,,,,
000225669X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
000254794,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0006379702,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0006485294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
000651118X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9871138016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B0000BLD7X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B158991965,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
N3453124715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
O6712345670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# convert dataframe of movie features to scipy sparse matrix
# where only non zero value is represented
movie_features_sparse = csr_matrix(df_movie_features.values)
movie_features_sparse.data

array([ 6.,  9.,  5.,  7.,  6.,  7.,  6.,  7., 10., 10.,  7.,  8., 10.,
       10.,  8.,  8., 10.,  1.,  9.,  8.,  7.,  8.,  6., 10.,  5.,  8.,
        9.,  5.,  6.,  7.,  7.,  7.,  8.,  9.,  8., 10.,  7.,  5.,  8.,
        8.,  7.,  6.,  7.,  6.,  7.,  5.,  5.,  6.,  8.,  6.,  8.,  6.,
        8.,  6.,  8.,  9.,  6.,  6.,  8.,  7.,  9.,  6.,  9.,  8., 10.,
        8., 10.,  5.,  9.,  8.,  8.,  5., 10.,  8.,  8.,  8.,  8.,  8.,
       10.,  8.,  6.,  7., 10.,  5., 10.,  7.,  8.,  7., 10.,  8.,  8.,
        6.,  5.,  5.,  8.,  7.,  8.,  8., 10.,  8.,  5., 10.,  8.,  5.,
        9., 10., 10., 10.,  8., 10.,  8.,  5.,  5.,  6.,  7.,  5.,  7.,
        7.,  8.,  9.,  7.,  7., 10., 10.,  7.,  5.,  9., 10.,  9., 10.,
        5.,  8.,  5.,  7.,  4., 10.,  9.,  9.,  9., 10.,  4.,  5.,  9.,
        9.,  9.,  7.,  9.,  8.,  8.,  7., 10.,  8.,  5.,  7.,  9.,  9.,
        9.,  8.,  8.,  7.,  8., 10.,  5.,  9.,  7.,  8.,  8.,  6.,  7.,
        7.,  7.,  5.,  6.,  6.,  8.,  7.,  7.,  5.,  7.,  7., 10.,  9.,
        8.,  9.,  9.,  8.,  9.,  7.,  8.,  8., 10.,  5.,  7.,  7.,  9.,
        7.,  5.,  8.,  8.,  8.,  6.,  5.,  7.,  6.,  9.,  9.,  5.,  5.,
        9.,  7.,  8.,  9.,  7., 10.,  9.,  8.,  9.,  8.,  9.,  7., 10.,
       10., 10., 10.,  8.,  8.,  3.,  8., 10., 10.,  5.,  8.,  9.,  6.,
        7.,  8., 10.,  7., 10.,  4.,  8.,  8.,  8.,  5., 10.,  6.,  8.,
        7.,  8.,  7.,  5.,  7.,  8.,  8.,  8., 10.,  7.,  9., 10.,  6.,
       10., 10.,  5.,  6.,  6.,  9.,  7.,  3.,  6.,  8.,  4.,  8.,  9.,
        8., 10.,  6.,  9.,  7., 10.,  7.,  8.,  9.,  9.,  8., 10., 10.,
       10.,  8., 10.,  8.,  7., 10.,  9.,  5.,  7.,  9.,  9.,  7.,  9.,
        5.,  4.,  9.,  7.,  6.,  9.,  9.,  5.,  8.,  9.,  8., 10.,  9.,
        9.,  9.,  9.,  9., 10.,  9.,  9.,  9.,  9.,  9., 10.,  9.,  9.,
        9.,  8.,  7.,  7.,  9., 10., 10., 10., 10., 10.,  9.,  8.,  6.,
        9., 10.,  8.,  8.,  6.,  8., 10., 10.,  7.,  5.,  7., 10., 10.,
        7., 10.,  7., 10.,  4.,  5.,  8.,  7.,  8.,  9.,  6., 10.,  7.,
        8.,  9., 10.,  8.,  8.,  8.,  8., 10., 10.,  6.,  9.,  5.,  9.,
        7.,  8., 10.,  6.,  5.,  8.,  8.,  8.,  8., 10.,  7.,  8., 10.,
        8.,  6.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,
        7.,  7.,  8.,  8.,  5.,  8.,  9.,  7.,  6.,  8.,  6.,  9.,  8.,
        9.,  8.,  9.,  8.,  7.,  6.,  5., 10.,  9.,  5.,  8.,  8., 10.,
        7.,  8.,  7.,  7.,  7.,  7.,  9., 10., 10.,  8.,  8.,  9.,  8.,
        9.,  8.,  6.,  5., 10.,  5., 10.,  9.,  5., 10., 10.,  8.,  4.,
        9.,  5.,  5.,  4.,  8.,  9.,  5., 10.,  5.,  9.,  5., 10.,  4.,
        5., 10., 10., 10., 10., 10., 10., 10., 10.,  8., 10.,  9., 10.,
       10.,  6.,  7.,  8.,  5.,  9., 10.,  6.,  7.,  8., 10., 10.,  8.,
       10., 10., 10.,  9., 10.,  9.,  8.,  7.,  8.,  8.,  9., 10.,  7.,
        7.,  6., 10., 10.,  6., 10.,  7.,  8.,  9., 10.,  9.,  7.,  8.,
        5.,  5.,  5.,  5.,  5.,  8.,  7.,  8.,  7.,  9.,  7., 10., 10.,
        2.,  8.,  8., 10.,  8.,  8.,  6.,  5., 10.,  6.,  9.,  9.,  9.,
        7., 10.,  9., 10., 10.,  8., 10.,  7.,  9., 10., 10., 10.,  9.,
       10., 10.,  7.,  7.,  8.,  4.,  6.,  4.,  8.,  7.,  7.,  8.,  7.,
        8.,  8.,  5.,  8., 10.,  5.,  8.,  8.,  6.,  5.,  5., 10.,  8.,
        7.,  7.,  8.,  9.,  9.,  4.,  9.,  7.,  9.,  8.,  8.,  5.,  3.,
        5.,  3.,  5.,  5.,  6., 10.,  7.,  8.,  6., 10.,  2.,  8.,  9.,
        7.,  9.,  8.,  5.,  6.,  5.,  9.,  3.,  6.,  7.,  5.,  6., 10.,
       10., 10.,  8., 10.,  8.,  5.,  8.,  3.,  8.,  8.,  9.,  7.,  8.,
        8.,  7.,  3.,  8., 10., 10., 10.,  4., 10.,  6.,  8.,  8.,  5.,
        5.,  7.,  8.,  5.,  7.,  9.,  9., 10.,  9.,  9.,  9.,  8.,  7.,
       10.,  4.,  8.,  8., 10.,  7.,  9.,  7.,  9.,  7.,  8., 10.,  8.,
        8.,  7.,  5.,  4.,  6.,  6.,  7.,  3.,  8.,  3.,  7.,  2.,  8.,
        7.,  6.,  6.,  9.,  6.,  7.,  6., 10.,  9.,  4.,  8., 10.,  7.,
        9.,  8.,  6.,  6.,  6., 10., 10., 10., 10.,  5.,  3., 10.,  2.,
        5.,  9.,  8.,  8.,  7., 10.,  9., 10.,  9., 10.,  9.,  6.,  5.,
        7.,  7.,  6.,  8.,  8.,  7.,  5., 10.,  7.,  8.,  5.,  7.,  8.,
        6.,  7.,  5., 10.,  5.,  8.,  5.,  9.,  1.,  7.,  9.,  9.,  9.,
        9.,  8.,  6.,  8.,  8.,  5.,  9.,  8., 10.,  8.,  6.,  9.,  8.,
        8.,  6.,  6.,  9.,  9., 10.,  7.,  6.,  5.,  7.,  5.,  4.,  8.,
        7., 10.,  6.,  8.,  6.,  6.,  8.,  6.,  7.,  7.,  8.,  7.,  4.,
        3., 10., 10.,  8.,  8.,  7.,  8.,  6.,  7.,  5.,  6.,  3.,  7.,
        7.,  6.,  6.,  8.,  9.,  7.,  7.,  4.,  8.,  8.,  8.,  7.,  2.,
        6.,  6.,  7.,  8.,  6.,  4.,  8.,  8.,  6.,  4., 10.,  8.,  8.,
        5.,  7.,  8.,  8.,  9.,  5.,  7.,  5.,  4.,  5.,  5.,  6.,  4.,
        7.])

In [16]:
#Use Cosine Similarity: the cosine of the angle between them
#The dot product of the vector divided by the product of their length
#Euclidean distance not helpful because all vectors are almost equidistant to search query vector
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric='cosine', algorithm='brute', 
            n_neighbors=10, n_jobs=-1)

In [35]:
import os
import time
import gc
import argparse
from turtle import distance
from numpy import indices

# data science imports
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

# utils import
import fuzzywuzzy
from fuzzywuzzy import fuzz


class KnnRecommender:
    """
    This is an item-based collaborative filtering recommender with
    KNN implmented by sklearn
    """
    def __init__(self):
        """
        Recommender requires path to data: movies data and ratings data
        Parameters
        ----------
        path_movies: str, movies data file path
        path_ratings: str, ratings data file path
        """
        self.model = NearestNeighbors()

    def set_filter_params(self, movie_rating_thres, user_rating_thres):
        """
        set rating frequency threshold to filter less-known movies and
        less active users
        Parameters
        ----------
        movie_rating_thres: int, minimum number of ratings received by users
        user_rating_thres: int, minimum number of ratings a user gives
        """
        self.movie_rating_thres = movie_rating_thres
        self.user_rating_thres = user_rating_thres

    def set_model_params(self, n_neighbors, algorithm, metric, n_jobs=None):
        """
        set model params for sklearn.neighbors.NearestNeighbors
        Parameters
        ----------
        n_neighbors: int, optional (default = 5)
        algorithm: {'auto', 'ball_tree', 'kd_tree', 'brute'}, optional
        metric: string or callable, default 'minkowski', or one of
            ['cityblock', 'cosine', 'euclidean', 'l1', 'l2', 'manhattan']
        n_jobs: int or None, optional (default=None)
        """
        self.model.set_params(**{
            'n_neighbors': n_neighbors,
            'algorithm': algorithm,
            'metric': metric,
            'n_jobs': n_jobs})

    def _fuzzy_matching(self, hashmap, fav_movie):
        """
        return the closest match via fuzzy ratio.
        If no match found, return None
        Parameters
        ----------
        hashmap: dict, map movie title name to index of the movie in data
        fav_movie: str, name of user input movie
        Return
        ------
        index of the closest match
        """
        match_tuple = []
        # get match
        for title, idx in hashmap.items():
            ratio = fuzz.ratio(title.lower(), fav_movie.lower())
            if ratio >= 60:
                match_tuple.append((title, idx, ratio))
        # sort
        match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
        if not match_tuple:
            print('Oops! No match is found')
        else:
            print('Found possible matches in our database: '
                  '{0}\n'.format([x[0] for x in match_tuple]))
            return match_tuple[0][1]

    def _inference(self, model, data, 
                   fav_movie, n_recommendations):
        """
        return top n similar movie recommendations based on user's input movie
        Parameters
        ----------
        model: sklearn model, knn model
        data: movie-user matrix
        hashmap: dict, map movie title name to index of the movie in data
        fav_movie: str, name of user input movie
        n_recommendations: int, top n recommendations
        Return
        ------
        list of top n similar movie recommendations
        """
        # fit
        model.fit(data)
        # get input movie index
        print('You have input movie:', fav_movie)
        idx = 3
        # inference
        print('Recommendation system start to make inference')
        print('......\n')
        distances, indices = model.kneighbors(
            data[idx],
            n_neighbors=n_recommendations+1)
        print('get list of raw idx of recommendations')
        return distances, indices

    def make_recommendations(self, fav_movie, n_recommendations):
        """
        make top n movie recommendations
        Parameters
        ----------
        fav_movie: str, name of user input movie
        n_recommendations: int, top n recommendations
        """
        # get data
        movie_user_mat_sparse = movie_features_sparse
        # get recommendations
        distance, indices = self._inference(
            self.model, movie_user_mat_sparse,
            fav_movie, n_recommendations)
        print('print results')
        print('Recommendations for {}:'.format(fav_movie))
        print("Distance: ", distance)
        print('Indicies', indices)


def parse_args():
    parser = argparse.ArgumentParser(
        prog="Movie Recommender",
        description="Run KNN Movie Recommender")
    parser.add_argument('--path', nargs='?', default='../data/MovieLens',
                        help='input data path')
    parser.add_argument('--movies_filename', nargs='?', default='movies.csv',
                        help='provide movies filename')
    parser.add_argument('--ratings_filename', nargs='?', default='ratings.csv',
                        help='provide ratings filename')
    parser.add_argument('--movie_name', nargs='?', default='',
                        help='provide your favoriate movie name')
    parser.add_argument('--top_n', type=int, default=10,
                        help='top n movie recommendations')
    return parser.parse_args()

movie_name ='0006379702'
top_n = 5
# initial recommender system
recommender = KnnRecommender()
# set params
recommender.set_filter_params(50, 50)
recommender.set_model_params(20, 'brute', 'cosine', -1)
# make recommendations
recommender.make_recommendations(movie_name, top_n)

You have input movie: 0006379702
Recommendation system start to make inference
......

get list of raw idx of recommendations
print results
Recommendations for 0006379702:
Distance:  [[1. 1. 1. 1. 1. 1.]]
Indicies [[1293 1291 1295 1292 1297 1294]]